#aboutDisplay{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 35%;
  display: flex;
}

#avatar{
  height: auto;
  max-height: 20vw;
  width: 100%;
  max-width: 14vw;
  border: solid 2px #b0dff4;
  box-shadow: 0 0 30px rgba(176, 223, 244, 0.6);
}

#keyblade{
  position: absolute;
  top: 21vw;
  font-family: "Advent Pro";
}

#empoleon{
  position: absolute;
  top: 22.5vw;
  font-family: "Advent Pro";
}

#gpx{
  position: absolute;
  top: 23vw;

  font-family: "Advent Pro";
}

#aboutTabs{
  height: auto;
  max-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "audiowide";
  
}

#astroTab, #favesTab, #skillsTab, #interestsTab, #bioTab{
  height: auto;
  max-height: 2vw;
  width: 15vw;
  border: solid 1.5px #b0dff4;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5vw;
  display: flex;
  justify-content: end;
  align-items: center;
}


#bio, #interests, #skills, #favorites, #astrology{
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 40vw;
  height: auto;
  max-height: 24vw;
  padding: .75vw;
  background: rgba(22, 22, 22, 0.4);
  border: solid 2px #b0dff4;
  box-shadow: 0 0 10px rgba(176, 223, 244, 0.6);
  font-size: 1.5vw;
  visibility: visible;
  overflow: auto;
  font-family: "advent pro";
  letter-spacing: .05vw;
}

#interests, #skills, #favorites, #astrology{
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
}

#interests li, #skills li, #favorites li, #astrology li{
  padding: .45vw;
  list-style-type: none;
}

#interests, #favorites{
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#skills, #astrology{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#favorites{
  align-items: baseline;
}

#aboutFoot{
  position: absolute;
  top: 90%;
  left: 1%;
  color: #000;
}

#scrollLeft{
  transform: rotate(-90deg);
}

#scrollRight{
  transform: rotate(90deg);
}

#arrowhalf{
  height: 20px;
  width: 2px;
  background-color:#b0dff4;
  animation: anim 2s infinite;
}

#arrowhalf:nth-of-type(1){
  position: absolute;
  left: 7px;
  transform: rotate(-45deg);
}

#arrowhalf:nth-of-type(2){
  position: absolute;
  left: -7px;
  transform: rotate(45deg);
}

#top{
  position: absolute;
  top: 0px;
}

#mid{
  position: absolute;
  top: 15px;
}

#bottom{
  position: absolute;
  top: 30px;
}
@keyframes anim {
    0%
    { 
        opacity: 1;
    }
  
    50%
    { 
        opacity: 0;
    }
    100%
    { 
        opacity: 1;
    }
}

/* Media Queries */

/* Mobile */
@media screen and (max-width: 480px) {
  #about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
  }
}