

#info{
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%);
  font-size: 1.3vw;
}

.chip{
  max-width: 5vw;
  height: auto;
  margin-top: 20px;
}



#specterText{
  max-width: 21vw;
  height: auto;
  position: absolute;
  top: 25%;
  left: 58%;
  font-size: 1.5vw;
  font-family: "advent pro";
  letter-spacing: .5px;
  text-shadow: none;
}

#interactiveDisplay{
  width: 20vw;
  height: 10vw;
  border: solid 2px;
  position: absolute;
  top: 35%;
  left: 59%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  visibility: hidden;
}

#gridBattlerDisplay{
  width: 20vw;
  height: 10vw;
  border: solid 2px;
  position: absolute;
  top: 35%;
  left: 59%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  visibility: hidden;
}

#memoryMatchThumbnail{
  width: 20vw;
  height: 10vw;
  border: solid 2px;
  position: absolute;
  top: 35%;
  left: 59%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  
}